---
layout: single-page
title: Plans
banner: assets/img/houses.jpg
nav: 
  - title: Two Bedroom
    href: "#p-view-1"
    class: 
  - title: Three Bedroom
    href: "#p-view-2"
  - title: Four Bedroom
    href: "#p-view-3"
nav-att:  'role="tab" data-toggle="tab"'
images:
  house1: 
    - src: 2Bedroom
    - src: 2Bedroom1
    - src: 2Bedroom2
    - src: 2Bedroom3
    - src: 2Bedroom4
  house2:
    - src: 3Bedroom
    - src: 3Bedroom1
    - src: 3Bedroom2
    - src: 3Bedroom3
    - src: 3Bedroom4
  house3:
    - src: 4Bedroom
    - src: 4Bedroom1
    - src: 4Bedroom2
    - src: 4Bedroom3
    - src: 4Bedroom4
---

<section><div class="m-2">
  <div class="row">
    <div class="col">

      <div class="tab-content">
        <div class="tab-pane active" id="p-view-1">
          <div class="tab-inner">
            <div class="event-content">
              <section style="padding-bottom:20px;">
                <card>
                  <div class="multi-collapse collapse show mx-auto features-clean" id="house1" style="padding-bottom:30px;">
                    <div class="row mx-auto">
                      <div class="p-1">
                        <h2 class="text-center ">Two Bedroom</h2>
                        <h2 class="text-center mx-auto">Pictures</h2>
                      </div>
                      <div class="card card-body w-100">
                        <!-- Start Slider Area -->
                        <div class="slider-area">
                          <div class="bend niceties preview-2">
                            <div id="" class="house-slider" >
                              {% for image in page.images.house1 %}
                              <a href="assets/img/houses/renders/{{image.src}}.jpg" data-lightbox="house1">
                                <img class="img-fluid w-100" data-toggle="lightbox" src="assets/img/houses/renders/{{image.src}}.jpg" />
                              </a>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row mx-auto">
                        <h2 class="text-center mx-auto py-2 mb-3">Plans</h2>
                        <div class="card card-body w-100">
                          <a href="assets/img/plans/2-bedroom-plan.jpg" data-lightbox="house1">
                            <img class="img-fluid w-100" data-toggle="lightbox" src="assets/img/plans/2-bedroom-plan.jpg" />
                          </a>
                          <a href="assets/img/plans/2-bedroom-plan-2.jpg" data-lightbox="house1">
                            <img class="img-fluid w-100" data-toggle="lightbox" src="assets/img/plans/2-bedroom-plan-2.jpg" />
                          </a>
                        </div>
                      </div> -->
                    <div class="row d-flex text-center  suscribe-area align-items-center">
                      <div class="col-md-6 my-3">
                        <h2 class="pt-3 px-3 m-0 pb-1 text-light">Two Bedroom Home</h2>
                        <a href="pricing"><h3 class="m-0 text-light text-underline" style="margin:0.3em; text-decoration: underline;">See Pricing</h3></a>
                      </div>
                      <div class="col-md-6">
                        <a class="sus-btn" href="/contact"> Contact Us</a>
                      </div>
                    </div>
                  </div>
                </card>
              </section>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="p-view-2">
          <div class="tab-inner">
            <div class="event-content ">
              <section style="padding-bottom:20px;">
                <card>
                  <div class="multi-collapse collapse show mx-auto features-clean" id="house1" style="padding-bottom:30px;">
                    <div class="row mx-auto">
                      <div class="p-1">
                        <h2 class="text-center ">Three Bedroom</h2>
                        <h2 class="text-center mx-auto">Pictures</h2>
                      </div>
                      <div class="card card-body w-100">
                        <div class="slider-area">
                          <div class="bend niceties preview-2">
                            <div class="house-slider" >
                              {% for image in page.images.house2 %}
                              <a href="assets/img/houses/renders/{{image.src}}.jpg" data-lightbox="house2">
                                <img class="img-fluid w-100" data-toggle="lightbox" src="assets/img/houses/renders/{{image.src}}.jpg" />
                              </a>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row mx-auto">
                      <h2 class="text-center mx-auto py-2 mb-3">Plans</h2>
                      <div class="card card-body w-100">
                        <a href="assets/img/plans/2-bedroom-plan.jpg" data-lightbox="house1">
                          <img class="img-fluid w-100" data-toggle="lightbox" src="assets/img/plans/2-bedroom-plan.jpg" />
                        </a>
                        <a href="assets/img/plans/2-bedroom-plan-2.jpg" data-lightbox="house1">
                          <img class="img-fluid w-100" data-toggle="lightbox" src="assets/img/plans/2-bedroom-plan-2.jpg" />
                        </a>
                      </div>
                    </div> -->
                    <div class="row d-flex text-center  suscribe-area align-items-center">
                      <div class="col-md-6 my-3">
                        <h2 class="pt-3 px-3 m-0 pb-1 text-light">Three Bedroom Home</h2>
                        <a href="pricing"><h3 class="m-0 text-light text-underline" style="margin:0.3em; text-decoration: underline;">See Pricing</h3></a>
                      </div>
                      <div class="col-md-6">
                        <a class="sus-btn" href="/contact"> Contact Us</a>
                      </div>
                    </div>
                  </div>
                </card>
              </section>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="p-view-3">
          <div class="tab-inner">
            <div class="event-content head-team">
              <section style="padding-bottom:20px;">
                <card>
                  <div class="multi-collapse collapse show mx-auto features-clean" id="house1" style="padding-bottom:30px;">
                    <div class="row mx-auto">
                      <div class="p-1">
                        <h2 class="text-center ">Four Bedroom</h2>
                        <h2 class="text-center mx-auto">Pictures</h2>
                      </div>
                      <div class="card card-body w-100">
                        <div class="slider-area">
                          <div class="bend niceties preview-2">
                            <div class="house-slider class" >
                              {% for image in page.images.house3 %}
                              <a href="assets/img/houses/renders/{{ image.src }}.jpg" data-lightbox="house3">
                                <img class="img-fluid w-100" data-toggle="lightbox" src="assets/img/houses/renders/{{ image.src }}.jpg" />
                              </a>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row mx-auto">
                      <h2 class="text-center mx-auto py-2 mb-3">Plans</h2>
                      <div class="card card-body w-100">
                        <a href="assets/img/plans/2-bedroom-plan.jpg" data-lightbox="house1">
                          <img class="img-fluid w-100" data-toggle="lightbox" src="assets/img/plans/2-bedroom-plan.jpg" />
                        </a>
                        <a href="assets/img/plans/2-bedroom-plan-2.jpg" data-lightbox="house1">
                          <img class="img-fluid w-100" data-toggle="lightbox" src="assets/img/plans/2-bedroom-plan-2.jpg" />
                        </a>
                      </div>
                    </div> -->
                    <div class="row d-flex text-center  suscribe-area align-items-center">
                      <div class="col-md-6 my-3">
                        <h2 class="pt-3 px-3 m-0 pb-1 text-light">Four Bedroom Home</h2>
                        <a href="pricing"><h3 class="m-0 text-light text-underline" style="margin:0.3em; text-decoration: underline;">See Pricing</h3></a>
                      </div>
                      <div class="col-md-6">
                        <a class="sus-btn" href="/contact"> Contact Us</a>
                      </div>
                    </div>
                  </div>
                </card>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>