$primary: #18d26e; // burgundy

$color_1: #666666;
$color_2: #18d26e;
$color_3: #18d36e;
$color_4: #fff;
$color_5: #333;
$color_6: #111;
$color_7: #000;
$color_8: #b8b8b8;
$color_9: #999;
$color_10: red;
$color_11: #eee;
$color_12: #ddd;
$font_family_1: "Open Sans", sans-serif;
$font_family_2: "Montserrat", sans-serif;
$font_family_3: FontAwesome;
$background_color_1: rgba(0, 0, 0, 0.7);
$background_color_2: #18d26e;
$background_color_3: #fff;
$background_color_4: #ddd;