extends single-page-header.pug

block page-title
  | About
block content
  section(style='padding-top:21px;padding-bottom:20px;')
    card 
      .row 
        .col-6
          h2 Mission
          h5
           | Our mission is to provide our employees with an honest helpful working environment, where every employee individually and collectively, can dedicate themselves to providing our customers with exceptional workmanship, extraordinary service.
        .col-6
          img.img-fluid(src='/assets/img/logo-text.jpg')
      .row 
        .col-6
          h2 Vision
          h5 
            | National Housing & Development along with our dynamic team is here to provide affordable, well-structured hurricane proof homes enabling all to own a piece of this beautiful paradise.
        .col-6
          img.img-fluid(src='/assets/img/4-bedroom.png')
      .row
        h2 Objective
        h4 
          | Is to become Antigua and Barbuda successful and number one company in building and constructing homes for our nationals.

