extends layout.pug

block append styles
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/css/swiper.min.css')
  link(rel='stylesheet' href='/assets/css/Simple-Slider.css')

block body
  div
    .header-blue()
      nav.navbar.navbar-dark.navbar-expand-md.navigation-clean-search
        .container
          img.logo(src='assets/img/logo.png' alt='National Housing development Logo' width='75' height='75')
          a.navbar-brand(href='#' style="font-family:'Roboto Slab', serif;  padding-top: 10px;") National Housing Development and Urban Renewal
          button.navbar-toggler(data-toggle='collapse' data-target='#navcol-1')
            span.sr-only Toggle navigation
            span.navbar-toggler-icon
          #navcol-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.nav-item(role='presentation')
                a.nav-link.active(href='/') Home
              li.nav-item(role='presentation')
                a.nav-link.active(href='/plan') Plan
              li.nav-item(role='presentation')
                a.nav-link.active(href='/gallery') Gallery
              li.nav-item(role='presentation')
                a.nav-link.active(href='/contact') Contact
              li.nav-item(role='presentation')
                a.nav-link.active(href='/learn') Learn
              //- li.dropdown.active
              //-   a.dropdown-toggle.nav-link.dropdown-toggle(data-toggle='dropdown' aria-expanded='false' href='#') Locations
              //-   .dropdown-menu(role='menu')
              //-     a.dropdown-item(role='presentation' href='#') Friars&apos;s Hill
              //-     a.dropdown-item(role='presentation' href='#') Paynters
              //-     a.dropdown-item(role='presentation' href='#') Denfields
              //-     a.dropdown-item(role='presentation' href='#') Royal Gardens
              //-     a.dropdown-item(role='presentation' href='#') Lightfoot
              //- li.nav-item.active(role='presentation')
                a.nav-link.active(href='/learn') Learn
            form.form-inline.mr-auto(target='_self')
              .form-group
                label(for='search-field')
                  i.fa.fa-search
                //- input#search-field.form-control.search-field(type='search' name='search')
            span.navbar-text
            //-   a.login(href='#') Log In
            //- a.btn.btn-light.action-button(role='button' href='#') Sign Up
      //- .container.hero.d-sm-none.d-md-block.d-lg-block
      //-   .row(style='height:325px; position: relative; top: -27px;')
      //-     .col-12.col-lg-6.col-xl-5.offset-8(style='height:294px;')
      //-       button.btn.btn-light.btn-lg.action-button(type='button')
      //-         i.fa.fa-map-marker.fa-inverse(style='padding-right:10px;')
      //-         | Get started
  
    .simple-slider
      .swiper-container
        .swiper-wrapper
          .swiper-slide(style='background-image:url(assets/img/houses/Picture1.jpg)' )
          .swiper-slide(style='background-image:url(assets/img/houses/Picture4.jpg')
          .swiper-slide(style='background-image:url(assets/img/houses/Picture3.jpg)' )
          .swiper-slide(style='background-image:url(assets/img/houses/Picture2.jpg')
          .swiper-slide(style='background-image:url(assets/img/houses/Picture5.jpg')

        .swiper-pagination
        .swiper-button-prev
          <i class="text-success fa fa-4x fa-angle-left"></i>
        .swiper-button-next
          <i class="text-success fa fa-4x fa-angle-right"></i>

  //- .highlight-phone(style='background-color:rgb(255,255,255);')
  //-   .container(style='')
  //-     .row
  //-       .col-md-8.col-lg-6
  //-         .intro
  //-           h2(style="font-family:'Roboto Slab', serif;font-weight:bold;") The Project
  //-           p
  //-             | National Housing and Development construct houses in different areas in Antigua. Some of the areas where these lovely houses are being constructed are Friar&rsquo;s Hill, Paynters, Denfields, Royal Gardens and Lightfoot. &nbsp;
  //-             br
  //-           a.btn.btn-primary(role='button' href='#') Learn More
  //-       .col-sm-4
  //-         div(style="padding-top:20px;")
  //-           img(src='assets/img/map-top.jpg' style='height:278px;')

  section#video(style='padding:28px;background-color:rgba(253, 245, 190, 0.34)')
    .container
      .row 
        .col-md-6
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='https://www.youtube.com/embed/GxrT9qynha4?rel=0' allowfullscreen='')
        .col-md-6
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='https://www.youtube.com/embed/URuDiCHa0aQ?rel=0' allowfullscreen='')
     
  section#services(style='padding:28px;background-color:#fff')
    .container
      .row(style='margin-top:2px;margin-bottom:3px;')
        .col-lg-12.text-center(style='padding:0px;height:137px;')
          h2.section-heading(style="font-family:'Roboto Slab', serif;font-weight:bold;margin-top:12px;margin-bottom:13px;") Housing Programs
          h3.section-subheading.text-muted Our services for the people
      .row.text-center

        .col-md-4
          span.fa-stack.fa-4x.program-1
            i.fa.fa-stack-2x.text-primary
            i.fa.fa-map-marker.fa-stack-1x.fa-inverse.text-yellow
          h4.service-heading
            | BUILD on Your Own Land&nbsp;
            br
          p#program-info-1.collapse.text-muted
            | Through this program individuals who already own their own land can have N.H.D. construct either one of our prototypical homes or a custom design home on their property.
          br
          .row.justify-content-center
            a.see-more-button.about-see-more(data-toggle="collapse" data-target="#program-info-1" role="button")
              i.h1.font-weight-bold.icofont.icofont-thin-down
        .col-md-4
          span.fa-stack.fa-4x.program-2
            i.fa.fa-stack-2x.text-primary
            i.fa.fa-user-plus.fa-stack-1x.fa-inverse.text-yellow
          h4.service-heading
            | Land for Youth &nbsp;
            br
          p#program-info-2.collapse.text-muted
            | National Housing offers individuals to own a very piece of their own land from the age limit 18 to 35 years. 
            br
            | These land will be available in Parham. &nbsp;
            br
          br 
          .row.justify-content-center
            a.see-more-button.about-see-more(data-toggle="collapse" data-target="#program-info-2" role="button")
              i.h1.font-weight-bold.icofont.icofont-thin-down
        .col-md-4
          span.fa-stack.fa-4x.program-3
            i.fa.fa-stack-2x.text-primary(style='color:#009688;')
            i.fa.fa-home.fa-stack-1x.fa-inverse.text-yellow
          h4.service-heading
            | National Housing and Development&nbsp;
            br
          p#program-info-3.collapse.text-muted
            | Some of the areas where these lovely houses are being constructed are Friar&rsquo;s Hill, Paynters, Denfields, Royal Gardens and Lightfoot. &nbsp;
            br
          .row.justify-content-center
            a.see-more-button.about-see-more(data-toggle="collapse" data-target="#program-info-3" role="button")
              i.h1.font-weight-bold.icofont.icofont-thin-down
  .features-clean(style='background-color:rgba(255, 191, 0, 0.25);padding-top:30px;padding-right:15px;padding-bottom:30px;padding-left:15px;')
    .container
      .row
        .col-lg-12.text-center(style='padding:0px;height:137px;')
          h2.section-heading(style="font-family:'Roboto Slab', serif;font-weight:bold;margin-bottom:10px;padding-top:20px;") House Types
          h3.section-subheading.text-muted(style='font-size:19px;font-weight:normal;') Types of houses provided by our program
      .row
        .col-md-4
          .pricingTable.purple
            .pricingTable-header
              h3(style="font-family:'Roboto Slab', serif;") 2 Bedrooms
              img.img-fluid(src='assets/img/2-bedroom.png' style='width:249px;')
            .pricing-plans()
              span.price-value
                i.fa.fa-usd
                span 205,103
              span.month
            .pricingContent
              ul
                li 5% Deposit $10,255
                li 1039-1035 square feet
            .pricingTable-sign-up
              a.btn.btn-block(href='/plan#house1') Details
        .col-md-4
          .pricingTable.purple
            .pricingTable-header
              h3(style="font-family:'Roboto Slab', serif;") 3 Bedrooms
              img.img-fluid(src='assets/img/3-bedroom.png' style='width:249px;')
            .pricing-plans()
              span.price-value
                i.fa.fa-usd
                span 234,359
              span.month
            .pricingContent
              ul
                li 5% Deposit $11,717
                li 1265 square feet
            .pricingTable-sign-up
              a.btn.btn-block(href='/plan#house2' style='') Details
        .col-md-4
          .pricingTable.purple
            .pricingTable-header
              h3(style="font-family:'Roboto Slab', serif;") 4 Bedrooms
              img.img-fluid(src='assets/img/4-bedroom.png' style='width:249px;')
            .pricing-plans()
              span.price-value
                i.fa.fa-usd
                span 254,814
              span.month
            .pricingContent
              ul
                li 5% Deposit $12,740
                li 1505 square feet
            .pricingTable-sign-up
              a.btn.btn-block(href='/plan#house3' style='=') Details
  .team-boxed
  .register-photo(style='background-color:rgba(253, 245, 190, 0.34);')
    .form-container
      .image-holder(style='background-image:url("assets/img/houses.jpg");')
      form(method='post')
        h2.text-center(style="font-family:'Roboto Slab', serif;")
          strong Contact Us
        .form-group
          input.form-control(type='email' name='email' required='' placeholder='Email')
        .form-group
          input.form-control(type='password' name='Telephone' required='' placeholder='Telephone')
        .form-group
          input.form-control(type='password' name='Message' required='' placeholder='Message')
        .form-group
          .form-check
            label.form-check-label
              input.form-check-input(type='checkbox')
              | I agree to the license terms.
        .form-group
          button.btn.btn-primary.btn-block(type='submit' style='') Email
        a.already(href='#')
  .footer-basic(style='background-color:#70592a;')
    footer
      .social
        a(href='#')
          i.icon.ion-android-map(style='color:#ffffff;')
        a(href='#')
          i.icon.ion-email(style='color:#ffffff;')
        a(href='#')
          i.icon.ion-social-facebook(style='color:#ffffff;')
      ul.list-inline
        li.list-inline-item
          a(href='/' style='color:#ffffff;') Home
        li.list-inline-item
          a(href='/learn' style='color:#ffffff;') Learn
        li.list-inline-item
          a(href='/plans' style='color:#ffffff;') Plans
        li.list-inline-item
          a(href='/Gallery' style='color:#ffffff;') Gallery
        li.list-inline-item
          a(href='/Contact' style='color:#ffffff;') Contact
      p.copyright Ecanic, Cyber Hawk Inc. &copy; 2017
  script(src='/assets/js/App-Features-Carousel.js')

block append scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.min.js')
  script(src='/assets/js/Simple-Slider1.js')

