extends single-page-header.pug

block page-title
    h1.text-light.align-self-center.pl-3  House Types
    .card.light-trans-bg.header-card.align-self-center
      .card-body.px-1
        .row.text-center.justify-content-center.px-3.col-selection
          .col.col-md-4.col-sm-auto.p-1.my-0.rounded.selected-light(style='margin-bottom:-5px;'  href='#house1' )
            img.img-fluid(src='assets/img/2-bedroom.png' style='max-height:100px;')
            h4.service-heading(style='color:#333333;padding-top:4px;margin-bottom:0.3rem;') 2 Bedrooms
          .col.col-md-4.col-sm-auto.p-1.my-0.rounded(style='margin-bottom:-5px;' href='#house2' role='button' )
            img.img-fluid(src='assets/img/3-bedroom.png' style='max-height:100px;')
            h4.service-heading(style='color:#333333;padding-top:4px;margin-bottom:0.3rem;') 3 Bedrooms
          .col.col-md-4.col-sm-auto.p-1.my-0.rounded(style='margin-bottom:-5px;'  href='#house3' role='button' )
            img.img-fluid(src='assets/img/4-bedroom.png' style='max-height:100px;')
            h4.service-heading(style='color:#333333;padding-top:4px;margin-bottom:0.3rem;') 4 Bedrooms

block append styles
  link(rel='stylesheet' href='/assets/lightbox/css/lightbox.css')

block content
  section(style='padding-bottom:20px;')
    card 
      #house1.multi-collapse.collapse.show.mx-auto.features-clean(style='padding-bottom:30px;')
        .row.mx-auto
          h2.text-center.mx-auto.py-2.mb-3 Pictures
          .card.card-body.w-100
            a(href='assets/img/houses/2-bedroom.jpg' data-lightbox='house1')
              img.img-fluid.w-100(data-toggle="lightbox"  src='assets/img/houses/2-bedroom.jpg')
        .row.mx-auto
          h2.text-center.mx-auto.py-2.mb-3 Plans
          .card.card-body.w-100
            a(href='assets/img/plans/2-bedroom-plan.jpg' data-lightbox='house1')
              img.img-fluid.w-100(data-toggle="lightbox"  src='assets/img/plans/2-bedroom-plan.jpg')
            a(href='assets/img/plans/2-bedroom-plan-2.jpg' data-lightbox='house1')
              img.img-fluid.w-100(data-toggle="lightbox" src='assets/img/plans/2-bedroom-plan-2.jpg')
        .row.mx-auto.mt-3.pricingTable.px-3.pb-3.align-items-center.gradient-bg-green
          .col-md-6
            h2.p-3.m-0.text-light Two Bedroom Home
            h3.m-0.text-light Cost: $205,103
            h4.text-light 5% Deposit: $10,255
            h4.text-light 1039-1035 square feet
          .col-md-6
            a.btn.btn-secondary.text-dark.btn-lg(href='/contact') Contact Us
            


      #house2.multi-collapse.collapse.mx-auto.features-clean(style='padding-bottom:30px;')
        .row.mx-auto
          h2.text-center.mx-auto.py-2.mb-3 Pictures
          .card.card-body.w-100
            a(href='assets/img/houses/3-bedroom.jpg' data-lightbox='house2')
              img.img-fluid.w-100(data-toggle="lightbox"  src='assets/img/houses/3-bedroom.jpg')
        .row.mx-auto
          h2.text-center.mx-auto.py-2.mb-3 Plans
          .card.card-body.w-100
            a(href='assets/img/plans/3-bedroom-plan.jpg' data-lightbox='house2')
              img.img-fluid.w-100(data-toggle="lightbox" src='assets/img/plans/3-bedroom-plan.jpg')
            a(href='assets/img/plans/3-bedroom-plan-2.jpg' data-lightbox='house2')
              img.img-fluid.w-100(data-toggle="lightbox" src='assets/img/plans/3-bedroom-plan-2.jpg')
        .row.mx-auto.mt-3.pricingTable.px-3.pb-3.align-items-center.gradient-bg-green
          .col-md-6
            h2.p-3.m-0.text-light Three Bedroom Home
            h3.m-0.text-light Cost: $234,359
            h4.text-light 5% Deposit: $11,717
            h4.text-light 1265 square feet
          .col-md-6
            a.btn.btn-secondary.text-dark.btn-lg(href='/contact') Contact Us


      #house3.multi-collapse.collapse.mx-auto.features-clean(style='padding-bottom:30px;')
        .row.mx-auto
          h2.text-center.mx-auto.py-2.mb-3 Pictures
          .card.card-body.w-100
            a(href='assets/img/houses/3-bedroom.jpg' data-lightbox='house3')
              img.img-fluid.w-100(data-toggle="lightbox"  src='assets/img/houses/3-bedroom.jpg')
        .row.mx-auto
          h2.text-center.mx-auto.py-2.mb-3 Plans
          .card.card-body.w-100
            a(href='assets/img/plans/4-bedroom-plan.jpg' data-lightbox='house3')
              img.img-fluid.w-100(data-toggle="lightbox" src='assets/img/plans/4-bedroom-plan.jpg')
            a(href='assets/img/plans/4-bedroom-plan-2.jpg' data-lightbox='house3')
              img.img-fluid.w-100(data-toggle="lightbox" src='assets/img/plans/4-bedroom-plan-2.jpg')
        .row.mx-auto.mt-3.pricingTable.px-3.pb-3.align-items-center.gradient-bg-green
          .col-md-6
            h2.p-3.m-0.text-light Four Bedroom Home            
            h3.m-0.text-light Cost: Cost: $254,814
            h4.text-light 5% Deposit: 12,740
            h4.text-light 1505 square feet
          .col-md-6
            a.btn.btn-secondary.text-dark.btn-lg(href='/contact') Contact Us

block append scripts
  script(src='/assets/lightbox/js/lightbox.js')
  script(src='/assets/js/house-types.js')

