    <!-- Start contact Area -->
    <div id="contact" class="contact-area">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>Contact us</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fa fa-mobile"></i>
                  <p>
                    Call: {{ site.phone }} / {{site.phone-alt}}<br>
                    Fax: {{site.fax}}<br>
                    <span>Monday - Friday (8:30 a.m - 4:30 p.m)</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fa fa-envelope-o"></i>
                  <p>
                    Email: {{site.email}}<br>
                    <span>Web: {{ site.url }}</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fa fa-map-marker"></i>
                  <p>
                    Location: {{site.address}}<br>
                    <span>St.Johns, Antigua</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <!-- Start Google Map -->
            <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
              <!-- Start Map -->
                <div id="google-map" data-latitude="17.129745" data-longitude="-61.8495202"></div>
              <!-- End Map -->
            </div>
            <!-- End Google Map -->

            <!-- Start  contact -->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form contact-form">
                <script type="text/javascript" src="https://form.jotform.com/jsform/200435864507152"></script>
              </div>
            </div>
            <!-- End Left contact -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Contact Area -->