<!--==========================
      Facts Section
    ============================-->
<section id="facts" class="bg-light wow fadeIn">
  <div class="container">

    <header class="section-header">
      <h3>Statistics for 2018 so far</h3>
      <p>Informational for Antigua and Barbuda - updated July 17th.</p>
    </header>

    <div class="row counters">

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">274</span>
        <p>New vehicles registered</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">421</span>
        <p>New Drivers</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">1,364</span>
        <p>Road Accidents</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">6</span>
        <p>Road Fatalities </p>
      </div>
    </div>

    <div class="facts-img">
      <!-- <img src="assets/img/facts-img.png" alt="" class="img-fluid"> -->
    </div>

  </div>
</section>
<!-- #facts -->