<footer id="default-footer">
  <!-- Start Footer bottom Area -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2>{{site.title}}
                    <span></span>
                  </h2>
                </div>

                <p></p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/NationalHousingDevelopment">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <!-- <li>
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-pinterest"></i>
                      </a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>information</h4>
                <p>
                  {{site.description}}
                </p>
                <div class="footer-contacts">
                  <p>
                    <span>Tel:</span> {{site.phone}} / {{site.phone-alt}}
                  </p>
                  <p>
                    <span>Fax:</span> {{site.fax}}
                  </p>
                  <p>
                    <span>Email:</span> {{site.email}}
                  </p>
                  <!-- <p><span>Working Hours:</span> 8am-5pm</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4></h4>
                <img class="img-fluid" src="assets/img/logo.png">

              </div>
            </div>
          </div>
          <!-- end single footer -->
          <!-- <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="footer-content">
                  <div class="footer-head">
                    <h4>Instagram</h4>
                    <div class="flicker-img">
                      <a href="#"><img src="assets/img/portfolio/1.jpg" alt=""></a>
                      <a href="#"><img src="assets/img/portfolio/2.jpg" alt=""></a>
                      <a href="#"><img src="assets/img/portfolio/3.jpg" alt=""></a>
                      <a href="#"><img src="assets/img/portfolio/4.jpg" alt=""></a>
                      <a href="#"><img src="assets/img/portfolio/5.jpg" alt=""></a>
                      <a href="#"><img src="assets/img/portfolio/6.jpg" alt=""></a>
                    </div>
                  </div>
                </div>
              </div> -->
        </div>
      </div>
    </div>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; 
                <strong>National Housing Development and Urban Renewal Co. Ltd.</strong> All Rights Reserved
              </p>
            </div>
            <div class="credits">
              Developed by
              <a href="https://cyberhawksolutions.com/">Canice James @ Cyber Hawk</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</footer>