    <!-- Start reviews Area -->
    <div class="reviews-area hidden-xs">
      <div class="work-us">
        <div class="work-left-text">
          <a href="#">
              <img src="assets/img/houses/Picture3.jpg" alt="">
            </a>
        </div>
        <div class="work-right-text text-center">
          <h2>See what home feels like</h2>
          <h5>Visit our gallery and take a look at all the locations and options available</h5>
          <a href="/Gallery" class="ready-btn">Go to Gallery</a>
        </div>
      </div>
    </div>
    <!-- End reviews Area -->