    <!-- Start team Area -->
    <div id="team" class=" our-team-area area-padding mt-3">
      <div class="container">
        <div class="row ">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Leadership</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="team-top ">
           <div class="trees-bg"></div>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">
                      <img src="assets/img/gaston-brown.jpg" alt="">
                    </a>
                  <div class="team-social-icon text-center">
                    <ul>
                      <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                          </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h4>Hon. Prime Minister Gaston Browne</h4>
                  <p>Founder of National Housing Development & Urban Renewal Co. Ltd. in 2014.</p>
                </div>
              </div>
            </div>
            <!-- End column -->
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">
                      <img src="assets/img/maria-browne.jpg" alt="">
                    </a>
                  <div class="team-social-icon text-center">
                    <ul>
                      <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                      </li>
                      <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                          </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="team-content text-center">
                  <h4>Hon. Maria Browne</h4>
                  <p>Minister of Housing, Lands & Urban Renewal (Since 2018 – Present)</p>
                </div>
              </div>
            </div>
            <!-- End column -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Team Area -->