<!--==========================
      Call To Action Section
    ============================-->
<section id="call-to-action" class="wow fadeIn">
  <div class="container text-center">
    <h3>Your life matters.</h3>
    <p> Road accidents are still the leading cause of accidenal death globally, but here in our twin island nation - a little bit of knowledge and awareness can go a long way toward keeping you and our nation safe.</p>
    <a class="cta-btn" href="#">Tips about road safety</a>
  </div>
</section>
<!-- #call-to-action -->
