  <!-- start pricing area -->
  <div id="pricing" class="pricing-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>House Types</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="pri_table_list">
            <h3>Two Bedroom</h3>
            <img class="img-fluid" src='assets/img/plans/2021/new/two-model-1.jpg'>
            <!-- <h3><span>$215,000.00</span></h3> -->
            <!-- <ol>
              <li class="check">1000 square feet</li>
            </ol> -->
            
            <div class="row mb-2">
              <a class="btn button-light mb-1 mt-2" href="/plan#1">Details</a>
              <a class="btn button-dark mb-1 mt-2" href="/pricing#1" class="button-light">See Pricing</a>
            </div>

          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="pri_table_list active">
            <span class="saleon">In demand</span>
            <h3>Three Bedroom</h3>
            <img class="img-fluid" src='assets/img/plans/2021/new/three-model-1.jpg' >

            <div class="row mb-2">
              <a  class="btn button-light mb-1 mt-2" href="/plan#2">Details</a>
              <a  class="btn button-dark mb-1 mt-2" href="/pricing#2" class="button-light">See Pricing</a>
            </div>
  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
          <div class="pri_table_list">
              <h3>Four Bedroom</h3>
              <img class="img-fluid" src='assets/img/plans/2021/new/four-model-1.jpg'>

              <div class="row mb-2">
                <a class="btn button-light mb-1 mt-2" href="/plan#3">Details</a>
                <a class="btn button-dark mb-1 mt-2" href="/pricing#3" class="button-light">See Pricing</a>
              </div>

          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
          <div class="pri_table_list">
              <h3>Four Bedroom Converted to Three</h3>
              <img class="img-fluid" src='assets/img/plans/2021/new/4-to-3-model-1.jpg'>

              <div class="row mb-2">
                <a class="btn button-light mb-1 mt-2" href="/plan#4">Details</a>
                <a class="btn button-dark mb-1 mt-2" href="/pricing#4" class="button-light">See Pricing</a>
              </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- End pricing table area -->