<style>
  .spinner div:first-child:after,
  .spinner div:first-child:before,
  .spinner div:last-child:after,
  .spinner div:last-child:before {
    content: '';
    position: absolute;
    border-radius: 50%
  }

  /* WHITE BACKGROUND */
  .spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background: white;
    overflow: hidden
  }

  /* BLACK */
  .spinner div:last-child {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 165px;
    height: 165px;
    margin: -82.5px 0 0 -82.5px;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 black;
    transform: translate3d(0, 0, 0);
    animation: spin 3.5s linear infinite
  }

  /* RED */
  .spinner div:first-child {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
    transform: translate3d(0, 0, 0);
    animation: spin 2.5s linear infinite
  }

  /* YELLOW */
  .spinner div:first-child:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite
  }

  /* BLUE */
  .spinner div:first-child:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
    animation: spin 2 linear infinite
  }

  /* WHITE */
  .spinner div:last-child:after {
    top: 35px;
    left: 35px;
    right: 35px;
    bottom: 35px;
    box-shadow: 0 3px 3px 0 white;
    animation: spin 1.5s linear infinite
  }

  /* ANIMATIONS */

  .fadeOut {
    animation: fadeOut 2.5s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @-webkit-keyframes spin {
    0% {
      transform: rotate(0)
    }

    100% {
      transform: rotate(360deg)
    }
  }

  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0)
    }

    100% {
      -moz-transform: rotate(360deg)
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0)
    }

    100% {
      transform: rotate(360deg)
    }
  }
</style>

<style>
  /* PUT STYLES HERE SO IT CAN LOAD BEFORE STYLESHEET */
</style>
<div id="preloader">
  <div id="global-spinner" class="spinner">

    <div class="blob blob-0">
    </div>
    <div class="blob blob-1"></div>
  </div>

  <img src="assets/img/logo.png"
    style=" width: 65px; height: 65px; position: absolute;  top: 0;  bottom: 0;  left: 0;  right: 0;  margin: auto; z-index: 1004;">
</div>
