<!--==========================
      Services Section
    ============================-->
<section id="services">
  <div class="container">

    <header class="section-header wow fadeInUp">
      <h3>Services</h3>
      <p>Informationals, services provided at our locations and tips/</p>
    </header>

    <div class="row">

      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon">
          <i class="ion-ios-analytics-outline"></i>
        </div>
        <h4 class="title">
          <a href="">Vehicle Registration</a>
        </h4>
        <div class="description">
          <p class="mb-2">Register your new vehicles at our Pigotts location.</p>
          <p>
            <a class="text-primary">Learn more</a>
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon">
          <i class="ion-ios-bookmarks-outline"></i>
        </div>
        <h4 class="title">
          <a href="">Public Service and Bus Routes</a>
        </h4>
        <div class="description">
          <p class="mb-2">Routes for public transportation and the national school buses.</p>
          <p>
            <a class="text-primary">Learn more</a>
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon">
          <i class="ion-ios-paper-outline"></i>
        </div>
        <h4 class="title">
          <a href="">Vehicle Inspection</a>
        </h4>
        <div class="description">
          <p class="mb-2">Guidelines, and terms.</p>
          <p>
            <a class="text-primary">Learn more</a>
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="icon">
          <i class="ion-ios-speedometer-outline"></i>
        </div>
        <h4 class="title">
          <a href="">Liscence Renewal</a>
        </h4>
        <div class="description">
          <p class="mb-2">Requirements and conditions.</p>
          <p>
            <a class="text-primary">Learn more</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- #services -->