a.btn.btn-primary {
  background-color: #008b8b !important;
}

.text-primary {
  color: #008b8b!important;
}


.header-blue .hero {
  margin-top: -20px !important;
}

.header-blue .navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
  word-break: break-word;
  white-space: normal;
}

.header-blue .navbar .navbar-collapse {
  border-color: transparent;
  margin: 0;
  margin-top: -40px;
}

ul.nav.navbar-nav {
  flex-grow: 1;
  justify-content: flex-end;
}

.light-brown-bg {
  background-color: rgba(112, 89, 42, 0.14) !important;
}

h1 {
  font-family:'Roboto Slab', serif;
  /* font-weight:bold !important; */
}

h2 {
  font-family:'Roboto Slab', serif;
  text-decoration: underline;
  color: #4d413c;
  /* font-weight:bold !important; */
}

.card-body {
  padding-left: 2rem;
  padding-right: 2rem;
}
.header-bg {/* Bitmap */

  /* position: absolute; */
  /* width: 1042.53px;
  height: 897.74px; */
  /* left: 1.47px;
  top: 0px; */

  background: #BDBDBD;
  opacity: 0.64;
  filter: blur(1px);
  z-index: 30;


  /* Vector */

  /* position: absolute; */
  /* width: 1042.53px;
  height: 897.74px; */
  /* left: 1.47px; */
  top: 0px;



  /* Vector */

  /* position: absolute; */
  /* width: 1042.53px;
  height: 897.74px; */
  left: 1.47px;
  top: 0px;

  background: radial-gradient(448.87px at 50% 50%, rgba(33, 150, 83, 0.32) 0%, rgba(111, 207, 115, 0.32) 100%), url(../img/map-top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  z-index: 1000;
}


.swiper-button-prev{
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.or…C44L0%2C22L0%2C22%2CL0%2C22z%27%20fill%3D%27%2328a745%27%2F%3E%3C%2Fsvg%3E"); */
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  /* background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.or…2C2.1L5%2C0L27%2C22L27%2C22z%27%20fill%3D%27%2328a745%27%2F%3E%3C%2Fsvg%3E') !important; */
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #28a745 !important;
}