
.text-primary {
  color: #008b8b!important;
}


.text-light {
  color: #fff!important;
}

.program-1, .program-2, .program-3 {
  width: 3.5em !important;
  height: 3.5em !important;
  line-height: 3.5em !important;
}

.program-1  > .text-yellow, .program-2  > .text-yellow, .program-3 > .text-yellow {
  opacity: 0.85;
}
.program-1 .fa-stack-2x {
  background: url('/assets/img/site-gallery/royal-gardens/1.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  min-width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  /* top: -3px; */
  border-radius: 57%;
}


.program-2 .fa-stack-2x {
  background: url('/assets/img/site-gallery/royal-gardens/5.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  min-width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  /* top: -3px; */
  border-radius: 57%;
}

.program-3 .fa-stack-2x {
  background: url('/assets/img/site-gallery/denfields/5.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  min-width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  /* top: -3px; */
  border-radius: 57%;
}


.banner-area {
  background: rgba(0, 0, 0, 0) url("../img/background/slider1.jpg") no-repeat fixed center top / cover;
  height: auto;
  width: 100%;
}

.banner-inner {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}

.banner-overly {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.banner {
  border: 1px dotted #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  height: 70px;
  line-height: 70px;
  width: 70px;
}

.banner:hover {
  color: #fff;
}

.banner-img img {
  border: 1px dotted rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  height: 80px;
  margin: 0 auto;
  padding: 5px;
  transition: background 0.6s ease-out 0s;
  width: 80px !important;
}

.banner-text p {
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  margin: 20px 0;
  letter-spacing: 1px;
}

.banner-text h6 {
  color: #fff;
  font-size: 20px;
}

.m-0 {
  margin: 0em;
}

.p-0 {
  padding: 0em;
}

.m-1 {
  margin: 1em;
}

.p-1 {
  padding: 1em;
}

.m-2 {
  margin: 2em;
}

.p-2 {
  padding: 2em;
}

.m-4 {
  margin: 4em;
}

.p-4 {
  padding: 4em;
}

.mt-4 {
  padding: 4em;
}

.align-items-center {
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}

.d-flex{
  display: flex;
}

.nav-menu {
  margin-bottom: 40px;
  text-align: center;
}

.nav-menu li {
  display: inline-block;
}

.nav-menu li a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #444;
  border-radius: 20px;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 4px;
  padding: 6px 15px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.nav-menu li a.active, .nav-menu li a:hover {
  border-color: #009688;
  background: #009688;
  color: #fff;
  text-decoration: none;
}

.banner-content a:focus {
  border-color: #009688 !important;
  background: #009688 !important;
  color: #fff !important;
  text-decoration: none;
}

.round .button-dark:hover {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
}
.round .button-dark  {
  background: #444 none repeat scroll 0 0;
  border: 1px solid #444;
  color: #fff;
  margin-bottom: 25px;
  padding: 10px 35px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  border-radius: 30px;
}

.vertical-center {
  vertical-align: -webkit-baseline-middle;
} 

.vertical-center-sub {
  vertical-align: sub;
}



#main section li {
  margin-left: 35px;
}