---
layout: default
banner: assets/img/houses.jpg
title:
---

{% include nav.html %}

<!-- header end -->
<div class=" banner-area" style="  background: rgba(0, 0, 0, 0) url('..{{ page.banner | relative_url }}') no-repeat fixed center top / cover;">
  <div class="banner-inner area-padding">
    <div class="banner-overly"></div>
    <div class="container ">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <!-- Start Banner Start -->
          <div class="banner-content text-center mt-4">
              <!-- <i class="fa fa-quote-right"></i> -->

            <h1 class="text-light"> {{page.title}} </h1>
            {% if page.subtitle %}
            <h3 class="text-light"> {{page.subtitle}}</h3>
            {% endif %}

            <div class="">
                <!-- Nav tabs -->
                <ul class="nav-menu" role="tablist">
                  {% for item in page.nav %}
                  <li >
                    <a href="{{item.href}}" class="{{item.class}}" {{page.nav-att}} data-filter="{{item.filer}}">{{item.title}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>

          </div>
          <!-- End Banner end -->
        </div>
        <!-- End Right Feature -->
      </div>
    </div>
  </div>
</div>

<div class="container my-4 px-2">

  <main id="main" class="row my-2">
    {{ content }}
  </main>
</div>